In [ ]:
import pandas as pd

# 新段落

In [ ]:
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv"
df = pd.read_csv(url,index_col=0)
df.head()

,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,...,12/5/22,12/6/22,12/7/22,12/8/22,12/9/22,12/10/22,12/11/22,12/12/22,12/13/22,12/14/22
UID,,,,,,,,,,,,,,,,,,,,,
84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",...,230,230,230,230,230,230,230,230,230,230
84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",...,716,716,717,717,717,717,717,717,717,717
84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",...,103,103,103,103,103,103,103,103,103,103
84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",...,108,108,108,108,108,108,108,108,108,108
84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",...,259,259,260,260,260,260,260,260,260,260

In [ ]:
death_by_state = df.groupby('Province_State')[df.columns[11:]].sum()
death_by_state.head(10)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,12/5/22,12/6/22,12/7/22,12/8/22,12/9/22,12/10/22,12/11/22,12/12/22,12/13/22,12/14/22
Province_State,,,,,,,,,,,,,,,,,,,,,
Alabama,0,0,0,0,0,0,0,0,0,0,...,20652,20652,20682,20682,20682,20682,20682,20682,20682,20704
Alaska,0,0,0,0,0,0,0,0,0,0,...,1436,1436,1436,1436,1436,1436,1436,1436,1436,1436
American Samoa,0,0,0,0,0,0,0,0,0,0,...,34,34,34,34,34,34,34,34,34,34
Arizona,0,0,0,0,0,0,0,0,0,0,...,31751,31751,31822,31822,31822,31822,31822,31822,31822,31929
Arkansas,0,0,0,0,0,0,0,0,0,0,...,12585,12594,12603,12613,12623,12631,12631,12631,12638,12647
California,0,0,0,0,0,0,0,0,0,0,...,97645,97655,97682,97817,97834,97834,97834,97873,97892,97918
Colorado,0,0,0,0,0,0,0,0,0,0,...,13652,13668,13682,13697,13704,13704,13704,13715,13740,13743
Connecticut,0,0,0,0,0,0,0,0,0,0,...,11587,11602,11603,11603,11603,11603,11603,11603,11656,11659
Delaware,0,0,0,0,0,0,0,0,0,0,...,3172,3172,3172,3172,3184,3184,3184,3184,3184,3185
Diamond Princess,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
test = pd.DataFrame(death_by_state.iloc[1])
current_state = test.columns[0]
current_state
##### WARNING: is the data already counting cumulative or is it daily cases?
test.columns=['cum_death']
test['new_death']=test['cum_death'].diff().fillna(test['cum_death'])
#print(df)
#test.reset_index()
#test.head()

In [ ]:
from math import exp
def model(params, time_step):
  p,q,m = params
  N=[]
  for t in range(1,time_step):
    current=m*(1-exp(-(p+q)*t))/(1+(q/p)*exp(-(p+q)*t))
    last=m*(1-exp(-(p+q)*(t-1)))/(1+(q/p)*exp(-(p+q)*(t-1)))
    N.append(current-last)
  return N


def error(params, time_step, actual_N):
  pred_N = model(params,time_step)
  N_error = []
  for t in range(0,time_step-1):
    N_error.append((actual_N[t+1]-pred_N[t])**2)
  total_error = sum(N_error)
  return total_error

In [ ]:
import numpy as np
from scipy.optimize import minimize
import pandas as pd

In [ ]:
initial_value = [0.027,0.003,0.03]
bnds = [(0, None), (0, None), (0, None)]
res = minimize(error,initial_value, args = (1028,test.new_death), bounds = bnds, tol=1e-8, method = 'Powell')

In [ ]:
print(res)

   direc: array([[-1.20012006e-05,  7.47837393e-04,  9.60104503e+01],
       [-3.04291749e-05,  1.12323411e-03, -1.39193406e+02],
       [-4.78326155e-06,  5.60700835e-04, -6.38933555e+01]])
     fun: 28422.787858961932
 message: 'Optimization terminated successfully.'
    nfev: 1198
     nit: 16
  status: 0
 success: True
       x: array([1.08686633e-04, 6.25513198e-03, 1.75989179e+03])

In [ ]:
def prediction(params,current_time, time_range):
  p,q,m = params
  N_t = []
  for t in range(current_time,current_time+time_range):
    current=m*(1-exp(-(p+q)*t))/(1+(q/p)*exp(-(p+q)*t))
    last=m*(1-exp(-(p+q)*(t-1)))/(1+(q/p)*exp(-(p+q)*(t-1)))
    N_t.append(current-last)
  return N_t

In [ ]:
len(death_by_state)

58

In [ ]:
final_prediction_df = pd.DataFrame()
for state in range(0,58):
  test = pd.DataFrame(death_by_state.iloc[state])
  current_state = test.columns[0]
  ##### WARNING: is the data already counting cumulative or is it daily cases?
  test.columns=['cum_death']
  test['new_death']=test['cum_death'].diff().fillna(test['cum_death'])
  initial_value = [0.027,0.03,100]
  bnds = [(0, None), (0, None), (10, None)]
  res = minimize(error,initial_value, args = (1028,test.new_death), bounds = bnds, tol=1e-8, method = 'Powell')
  print(res.x)
  final_prediction_df[current_state] = prediction(res.x,1018,400)

[6.85348468e-05 7.45512874e-02 7.15048376e+02]
[1.95890521e-06 1.32754303e-02 1.19923394e+03]
[4.74359040e-05 5.64467686e-03 6.25494210e+01]
[4.93288970e-04 4.34575555e-03 3.43540333e+04]
[1.73888509e-04 1.01622182e-01 4.71895508e+01]
[4.80542406e-06 2.29601548e-02 6.39887423e+04]
[2.93835533e-03 2.68151079e-02 2.15148859e+03]
[2.12348097e-03 2.85751395e-02 5.42844123e+03]
[1.71509248e-03 2.69908748e-02 7.61501051e+02]
[1.51278758e-17 5.02591791e-09 1.00000000e+01]
[1.68958999e-03 2.78090743e-02 7.32408180e+02]
[3.35690801e-04 4.69983359e-03 9.05015233e+04]
[1.42838592e-07 1.85237122e-02 2.36354418e+03]
[3.96790131e-04 1.58056185e-04 1.00000001e+01]
[4.40574432e-05 2.41494897e-02 1.48842242e+02]
[9.3192310e-05 6.1712102e-03 1.8597482e+03]
[1.92092126e-06 1.32804060e-01 7.47200918e+01]
[7.80890927e-04 3.61002049e-03 4.25513219e+04]
[4.18929984e-03 1.95916011e-10 1.03148714e+04]
[1.23673804e-05 2.25354100e-02 5.94767682e+03]
[1.87986134e-05 2.06375733e-02 5.80223146e+03]
[1.23394774e-05 8.63045729e+00 1.00000007e+01]
[4.01150358e-03 2.17533989e-10 9.92798183e+03]
[3.97422973e-05 7.34985555e-03 2.75442621e+03]
[7.53146920e-05 6.22610752e-02 3.51790037e+03]
[1.79755002e-03 2.85351558e-02 1.04179069e+04]
[2.52655336e-03 2.74172216e-02 7.77777954e+03]
[5.37507477e-04 3.63718331e-03 1.56012259e+04]
[3.79085010e-04 1.27121270e-01 2.39904115e+01]
[2.65577692e-04 4.86383821e-03 2.46384308e+04]
[1.18350784e-04 1.00560939e-01 1.44767282e+01]
[4.54931400e-06 1.16424432e-02 2.19006951e+03]
[3.83262703e-04 4.35126039e-03 1.29454389e+04]
[4.25477662e-04 3.34516228e-03 3.33148117e+03]
[4.00164115e-04 5.28577532e-02 1.88354390e+04]
[1.69688747e-05 2.09113754e-02 4.33125313e+03]
[3.26393942e-03 2.88603309e-02 3.79277431e+04]
[1.96252636e-05 1.76092916e-04 1.24741294e+06]
[3.62058209e-06 3.01720557e-02 1.61571492e+03]
[1.61166406e-04 3.44160458e-03 8.45933418e+01]
[2.00424217e-05 1.94630620e-02 2.98802784e+04]
[1.58040032e-05 3.97645567e+00 1.11688544e+04]
[7.88682592e-05 6.53783130e-03 9.31591267e+03]
[3.09519305e-03 1.15491059e-16 2.68567626e+04]
[6.86168461e-05 7.85104234e-02 1.51582495e+02]
[1.66351759e-03 2.69057386e-02 1.31112050e+03]
[4.17635566e-04 4.69978598e-03 2.03293709e+04]
[8.27435781e-06 2.56091994e-02 2.17292171e+03]
[2.53048343e-05 2.90912974e-04 9.49886860e+05]
[4.25905787e-04 5.37931576e-03 9.68357569e+04]
[9.89692509e-05 9.92518779e-02 4.98754115e+01]
[4.61073821e-05 9.53192574e-02 5.87504940e+01]
[1.29054707e-04 6.75143745e-03 1.29031678e+02]
[3.81648342e-04 4.08395596e-03 2.52144442e+04]
[7.56364658e-04 4.67695863e-02 1.47069795e+03]
[1.58766243e-05 5.13942530e-04 3.58086487e+05]
[5.15924525e-05 1.80942647e-02 8.60664904e+03]
[2.26573433e-05 2.04944771e-02 9.04587994e+02]

In [ ]:
final_prediction_df

,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,0.0,0.143865,0.070176,10.473993,0.0,0.000499,4.592948e-11,6.457412e-11,7.548806e-11,1.512795e-16,...,31.233598,19.485715,0.0,0.0,0.039289,11.293176,0.0,9.342665,0.000526,0.000014
1,0.0,0.142002,0.069990,10.429493,0.0,0.000488,4.501999e-11,6.366463e-11,7.332801e-11,1.512795e-16,...,31.241359,19.380377,0.0,0.0,0.039044,11.253100,0.0,9.347118,0.000517,0.000014
2,0.0,0.140162,0.069803,10.385155,0.0,0.000477,4.320100e-11,6.275513e-11,7.150902e-11,1.512795e-16,...,31.249121,19.275567,0.0,0.0,0.038800,11.213126,0.0,9.351573,0.000508,0.000014
3,0.0,0.138346,0.069615,10.340978,0.0,0.000466,4.229150e-11,5.911716e-11,6.923528e-11,1.512795e-16,...,31.256885,19.171283,0.0,0.0,0.038558,11.173252,0.0,9.356030,0.000498,0.000014
4,0.0,0.136553,0.069427,10.296961,0.0,0.000456,4.138201e-11,5.820766e-11,6.730261e-11,1.512795e-16,...,31.264650,19.067523,0.0,0.0,0.038317,11.133481,0.0,9.360488,0.000489,0.000013
5,0.0,0.134783,0.069239,10.253106,0.0,0.000445,3.956302e-11,5.547918e-11,6.548362e-11,1.512795e-16,...,31.272416,18.964284,0.0,0.0,0.038077,11.093810,0.0,9.364949,0.000481,0.000013
6,0.0,0.133035,0.069050,10.209411,0.0,0.000435,3.819878e-11,5.456968e-11,6.366463e-11,1.512795e-16,...,31.280183,18.861564,0.0,0.0,0.037839,11.054242,0.0,9.369411,0.000472,0.000013
7,0.0,0.131309,0.068861,10.165876,0.0,0.000425,3.774403e-11,5.275069e-11,6.173195e-11,1.512795e-16,...,31.287952,18.759361,0.0,0.0,0.037602,11.014775,0.0,9.373875,0.000464,0.000012
8,0.0,0.129606,0.068672,10.122500,0.0,0.000416,3.592504e-11,5.184120e-11,6.002665e-11,1.512795e-16,...,31.295722,18.657673,0.0,0.0,0.037366,10.975410,0.0,9.378341,0.000455,0.000012
9,0.0,0.127924,0.068482,10.079284,0.0,0.000406,3.547029e-11,5.002221e-11,5.843503e-11,1.512795e-16,...,31.303494,18.556498,0.0,0.0,0.037132,10.936147,0.0,9.382809,0.000447,0.000012
10,0.0,0.126264,0.068292,10.036226,0.0,0.000397,3.456080e-11,4.820322e-11,5.672973e-11,1.512795e-16,...,31.311267,18.455833,0.0,0.0,0.036899,10.896985,0.0,9.387279,0.000439,0.000012
11,0.0,0.124625,0.068102,9.993327,0.0,0.000388,3.274181e-11,4.547474e-11,5.525180e-11,1.512795e-16,...,31.319041,18.355677,0.0,0.0,0.036668,10.857926,0.0,9.391750,0.000431,0.000012
12,0.0,0.123007,0.067912,9.950587,0.0,0.000379,3.228706e-11,4.547474e-11,5.354650e-11,1.512795e-16,...,31.326817,18.256028,0.0,0.0,0.036437,10.818968,0.0,9.396224,0.000423,0.000011
13,0.0,0.121409,0.067721,9.908004,0.0,0.000370,3.137757e-11,4.456524e-11,5.195488e-11,1.512795e-16,...,31.334593,18.156882,0.0,0.0,0.036208,10.780113,0.0,9.400699,0.000416,0.000011
14,0.0,0.119832,0.067530,9.865579,0.0,0.000362,3.046807e-11,4.183676e-11,5.059064e-11,1.512795e-16,...,31.342372,18.058238,0.0,0.0,0.035981,10.741359,0.0,9.405177,0.000408,0.000011
15,0.0,0.118275,0.067338,9.823311,0.0,0.000354,2.955858e-11,4.183676e-11,4.911271e-11,1.512795e-16,...,31.350151,17.960095,0.0,0.0,0.035754,10.702708,0.0,9.409656,0.000401,0.000011
16,0.0,0.116738,0.067147,9.781199,0.0,0.000346,2.910383e-11,4.001777e-11,4.774847e-11,1.512795e-16,...,31.357932,17.862449,0.0,0.0,0.035529,10.664158,0.0,9.414137,0.000394,0.000010
17,0.0,0.115221,0.066955,9.739244,0.0,0.000338,2.728484e-11,3.910827e-11,4.638423e-11,1.512795e-16,...,31.365714,17.765298,0.0,0.0,0.035305,10.625711,0.0,9.418620,0.000387,0.000010
18,0.0,0.113723,0.066762,9.697445,0.0,0.000330,2.728484e-11,3.728928e-11,4.490630e-11,1.512795e-16,...,31.373498,17.668641,0.0,0.0,0.035083,10.587366,0.0,9.423105,0.000380,0.000010
19,0.0,0.112244,0.066570,9.655802,0.0,0.000323,2.546585e-11,3.637979e-11,4.388312e-11,1.512795e-16,...,31.381282,17.572476,0.0,0.0,0.034862,10.549123,0.0,9.427591,0.000373,0.000010
20,0.0,0.110785,0.066377,9.614314,0.0,0.000315,2.592060e-11,3.547029e-11,4.251888e-11,1.512795e-16,...,31.389069,17.476800,0.0,0.0,0.034642,10.510982,0.0,9.432080,0.000366,0.000010
21,0.0,0.109344,0.066184,9.572982,0.0,0.000308,2.455636e-11,3.456080e-11,4.126832e-11,1.512795e-16,...,31.396856,17.381611,0.0,0.0,0.034423,10.472944,0.0,9.436570,0.000360,0.000009
22,0.0,0.107921,0.065991,9.531803,0.0,0.000301,2.410161e-11,3.274181e-11,4.035883e-11,1.512795e-16,...,31.404645,17.286907,0.0,0.0,0.034206,10.435008,0.0,9.441063,0.000353,0.000009
23,0.0,0.106517,0.065798,9.490779,0.0,0.000294,2.364686e-11,3.274181e-11,3.899459e-11,1.512796e-16,...,31.412435,17.192686,0.0,0.0,0.033989,10.397174,0.0,9.445557,0.000347,0.000009
24,0.0,0.105131,0.065604,9.449909,0.0,0.000288,2.273737e-11,3.183231e-11,3.785772e-11,1.512795e-16,...,31.420226,17.098946,0.0,0.0,0.033774,10.359442,0.0,9.450053,0.000340,0.000009
25,0.0,0.103762,0.065410,9.409192,0.0,0.000281,2.137313e-11,3.092282e-11,3.683454e-11,1.512796e-16,...,31.428019,17.005684,0.0,0.0,0.033561,10.321813,0.0,9.454551,0.000334,0.000009
26,0.0,0.102411,0.065216,9.368629,0.0,0.000275,2.137313e-11,2.819434e-11,3.592504e-11,1.512796e-16,...,31.435813,16.912900,0.0,0.0,0.033348,10.284286,0.0,9.459051,0.000328,0.000008
27,0.0,0.101078,0.065022,9.328218,0.0,0.000269,2.046363e-11,3.001333e-11,3.490186e-11,1.512796e-16,...,31.443609,16.820590,0.0,0.0,0.033137,10.246861,0.0,9.463552,0.000322,0.000008
28,0.0,0.099761,0.064828,9.287960,0.0,0.000263,2.046363e-11,2.728484e-11,3.365130e-11,1.512796e-16,...,31.451406,16.728752,0.0,0.0,0.032927,10.209539,0.0,9.468056,0.000317,0.000008
29,0.0,0.098462,0.064633,9.247854,0.0,0.000257,1.955414e-11,2.637535e-11,3.308287e-11,1.512796e-16,...,31.459204,16.637386,0.0,0.0,0.032718,10.172319,0.0,9.472562,0.000311,0.000008

In [ ]:
final_prediction_df.sum(axis = 1)

0     276.415553
1     275.252001
2     274.092548
3     272.937188
4     271.785914
5     270.638720
6     269.495599
7     268.356543
8     267.221547
9     266.090604
10    264.963706
11    263.840846
12    262.722018
13    261.607214
14    260.496427
15    259.389649
16    258.286874
17    257.188094
18    256.093301
19    255.002488
20    253.915648
21    252.832772
22    251.753853
23    250.678883
24    249.607854
25    248.540759
26    247.477589
27    246.418336
28    245.362993
29    244.311552
dtype: float64

In [ ]:
weekly_df = death_by_state[death_by_state.columns[::7]]
weekly_df.head()

,1/22/20,1/29/20,2/5/20,2/12/20,2/19/20,2/26/20,3/4/20,3/11/20,3/18/20,3/25/20,...,9/28/22,10/5/22,10/12/22,10/19/22,10/26/22,11/2/22,11/9/22,11/16/22,11/23/22,11/30/22
Province_State,,,,,,,,,,,,,,,,,,,,,
Alabama,0,0,0,0,0,0,0,0,0,1,...,20395,20422,20473,20505,20533,20558,20558,20617,20631,20652
Alaska,0,0,0,0,0,0,0,0,0,1,...,1364,1393,1393,1393,1413,1413,1413,1436,1436,1436
American Samoa,0,0,0,0,0,0,0,0,0,0,...,34,34,34,34,34,34,34,34,34,34
Arizona,0,0,0,0,0,0,0,0,0,6,...,31370,31406,31455,31514,31548,31573,31613,31647,31709,31751
Arkansas,0,0,0,0,0,0,0,0,0,2,...,12131,12235,12334,12396,12452,12506,12523,12528,12545,12564

In [ ]:
weekly_final_prediction_df = pd.DataFrame()
for state in range(0,58):
  test = pd.DataFrame(weekly_df.iloc[state])
  current_state = test.columns[0]
  ##### WARNING: is the data already counting cumulative or is it daily cases?
  test.columns=['cum_death']
  test['new_death']=test['cum_death'].diff().fillna(test['cum_death'])
  initial_value = [0.027,0.03,500]
  bnds = [(0, None), (0, None), (0, None)]
  res = minimize(error,initial_value, args = (149,test.new_death), bounds = bnds, tol=1e-8, method = 'Powell')
  print(res.x)
  weekly_final_prediction_df[current_state] = prediction(res.x,147,4)

[2.53662352e-03 3.92312856e-02 2.17136281e+04]
[4.52641064e-04 5.09960391e-02 1.47285756e+03]
[3.57395004e-03 1.33183661e-02 4.48146283e+01]
[3.43372743e-03 3.05269579e-02 3.43702057e+04]
[2.66275774e-03 3.12050306e-02 1.38800931e+04]
[2.06263090e-04 1.21178910e-01 7.24063712e+04]
[3.20626451e-02 1.16183360e-10 5.27822425e+03]
[2.92646453e-02 2.81844403e+00 3.34078602e-05]
[3.12357184e-02 4.30241101e-09 7.90453323e+02]
[3.53125138e-09 5.56901951e-09 6.43449008e-09]
[9.41167042e-03 2.09157117e-01 8.70870944e+02]
[2.35516153e-03 3.26506380e-02 9.07310363e+04]
[2.85444702e-03 3.14652795e-02 4.47340466e+04]
[0.01051798 0.3051801  3.41965871]
[7.72908374e-06 3.20634994e+00 7.64195563e-02]
[6.46040022e-04 4.31410170e-02 1.86911744e+03]
[1.24122522e-03 4.18165501e-02 5.65449680e+03]
[5.46105007e-03 2.52364494e-02 4.25895024e+04]
[3.69622168e-03 2.76973013e-02 2.75777080e+04]
[3.72143107e-03 3.43623597e-02 1.04236208e+04]
[3.01691855e-03 3.31493823e-02 1.02760462e+04]
[1.23231917e-03 3.85539350e-02 1.93452893e+04]
[5.82706501e-03 2.16057071e-02 1.99291501e+04]
[2.79879525e-04 5.14198254e-02 2.75136120e+03]
[5.43651737e-04 4.33373856e-01 3.52324865e+03]
[9.88266783e-03 2.16598754e-01 1.22798285e+04]
[3.10955705e-02 4.79935722e-09 8.49925708e+03]
[3.76064504e-03 2.52030713e-02 1.56899556e+04]
[3.98901153e-03 3.11292438e-02 1.38644806e+04]
[1.87159913e-03 3.39943501e-02 2.46118823e+04]
[1.84060241e-03 3.79675904e-02 3.94847763e+03]
[2.98585331e-03 2.80699372e-02 5.19500248e+03]
[2.66816011e-03 3.06139041e-02 1.29398061e+04]
[2.66276534e-02 1.11228565e-09 1.18708417e+03]
[1.13270037e-02 2.26890923e-01 2.28421784e+04]
[2.82413417e-03 2.56123488e-02 1.01240647e+04]
[3.80163635e-03 5.80549747e+00 4.03782545e+03]
[2.70298764e-03 2.92941984e-02 3.06193178e+04]
[2.97311826e-03 7.48517376e-02 1.31114156e+03]
[0.01287924 0.33895045 2.73088788]
[2.67741154e-03 3.23026400e-02 4.48355181e+04]
[1.09900536e-03 4.32790607e-02 1.86218036e+04]
[5.77745450e-04 4.50932264e-02 9.40114710e+03]
[3.87140761e-03 2.61537694e-02 5.31708370e+04]
[2.82012030e-03 2.24268901e-02 6.49622839e+03]
[7.55699664e-03 2.26861509e-01 1.50466537e+03]
[2.91321627e-03 3.29852650e-02 2.03242715e+04]
[4.08135735e-03 5.01334649e-02 3.76305570e+03]
[1.96526139e-03 3.29424398e-02 3.20237866e+04]
[2.97480217e-03 3.77087020e-02 9.67949386e+04]
[1.96220793e-03 3.55191470e-02 5.61563956e+03]
[4.66485664e-04 6.23962813e-01 5.90372621e+01]
[9.60409487e-03 8.39432453e-03 1.02732545e+02]
[2.67440899e-03 2.85875906e-02 2.52190746e+04]
[1.82932345e-03 2.98888238e-02 1.70203778e+04]
[1.03880408e-03 4.12052964e-02 8.33525511e+03]
[2.99368071e-03 2.83867800e-02 1.75188345e+04]
[8.96088273e-04 4.61728832e-02 2.07265803e+03]

In [ ]:
weekly_final_prediction_df

,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,30.737555,4.084786,0.174536,70.778633,35.755428,0.097930,1.543645,0.0,0.254214,2.272181e-17,...,98.522272,130.273301,14.356599,0.0,0.219721,76.765895,67.110227,25.131085,48.393448,4.685878
1,29.559719,3.902083,0.172993,68.680416,34.739994,0.086736,1.494937,0.0,0.246396,2.272181e-17,...,95.742944,125.396130,13.899406,0.0,0.216256,74.857779,65.568653,24.242326,47.152261,4.490882
2,28.423980,3.726545,0.171447,66.636268,33.748125,0.076822,1.447766,0.0,0.238819,2.272181e-17,...,93.023694,120.689757,13.454407,0.0,0.212838,72.984703,64.047737,23.379393,45.935887,4.303139
3,27.329070,3.557984,0.169897,64.645307,32.779600,0.068041,1.402083,0.0,0.231474,2.272181e-17,...,90.364377,116.149098,13.021437,0.0,0.209467,71.146721,62.548029,22.541964,44.744230,4.122453

In [ ]:
weekly_final_prediction_df.sum(axis=1)

0    1966.177380
1    1908.668365
2    1852.592750
3    1797.931651
dtype: float64

In [ ]:
monthly_df = death_by_state[death_by_state.columns[::30]]
monthly_df.head()

,1/22/20,2/21/20,3/22/20,4/21/20,5/21/20,6/20/20,7/20/20,8/19/20,9/18/20,10/18/20,...,2/10/22,3/12/22,4/11/22,5/11/22,6/10/22,7/10/22,8/9/22,9/8/22,10/8/22,11/7/22
Province_State,,,,,,,,,,,,,,,,,,,,,
Alabama,0,0,0,183,529,838,1291,1944,2428,2788,...,17502,18832,19379,19606,19692,19786,19974,20239,20473,20558
Alaska,0,0,0,9,10,12,18,29,45,67,...,1114,1201,1228,1268,1285,1285,1309,1338,1393,1413
American Samoa,0,0,0,0,0,0,0,0,0,0,...,0,0,11,29,31,31,33,34,34,34
Arizona,0,0,2,208,764,1346,2784,4634,5451,5827,...,26856,28090,29681,30230,30372,30572,30842,31162,31406,31573
Arkansas,0,0,0,42,110,224,363,631,1173,1704,...,9937,10892,11313,11410,11512,11608,11775,11951,12301,12521

In [ ]:
monthly_final_prediction_df = pd.DataFrame()
for state in range(0,58):
  test = pd.DataFrame(monthly_df.iloc[state])
  current_state = test.columns[0]
  ##### WARNING: is the data already counting cumulative or is it daily cases?
  test.columns=['cum_death']
  test['new_death']=test['cum_death'].diff().fillna(test['cum_death'])
  initial_value = [0.027,0.03,500]
  bnds = [(0, None), (0, None), (0, None)]
  res = minimize(error,initial_value, args = (34,test.new_death), bounds = bnds, tol=1e-8, method = 'Powell')
  print(res.x)
  monthly_final_prediction_df[current_state] = prediction(res.x,33,2)

[1.09724254e-02 1.66298404e-01 2.17996097e+04]
[ 0.02684564  1.71448828 14.37953792]
[1.19940817e-03 1.68337786e-01 7.01835424e+01]
[1.48915765e-02 1.27672369e-01 3.46636125e+04]
[1.14451831e-02 1.34034738e-01 1.38623322e+04]
[5.35237879e-02 1.04530323e+00 7.39875900e+03]
[1.20972417e-01 9.13257263e-10 6.07894933e+03]
[4.10707613e-02 1.01075066e+00 6.31964760e+03]
[1.34604120e-08 2.12809506e+01 1.14047808e+02]
[3.26854551e-09 4.30765061e-09 2.02775460e-19]
[1.07007376e-07 1.89569394e+01 1.02737586e+02]
[1.01454213e-02 1.39112837e-01 9.12009821e+04]
[1.22557219e-02 1.34034755e-01 4.48517831e+04]
[6.91080988e-05 5.25268658e-09 1.32095586e+03]
[6.12289269e-03 1.39868027e-01 4.77216164e+02]
[3.20142015e-03 1.74532836e-01 1.92992348e+03]
[5.46213323e-03 1.76437466e-01 5.69701164e+03]
[2.34913681e-02 1.07135084e-01 4.26821792e+04]
[1.58923368e-02 1.17443116e-01 2.76827646e+04]
[1.62962386e-02 1.45902717e-01 1.05235482e+04]
[1.30010451e-02 1.38932003e-01 1.03802358e+04]
[5.20900843e-03 1.65705291e-01 1.93849325e+04]
[2.48999878e-02 8.98377324e-02 2.01591088e+04]
[3.01445802e-03 1.76215499e-01 2.86241678e+03]
[2.44873991e-03 1.79329338e+00 3.54689989e+03]
[4.03659723e-02 9.39564959e-01 1.20142706e+04]
[1.08687651e-03 2.57212418e+00 6.22637802e+03]
[1.61427483e-02 1.09357839e-01 1.55821515e+04]
[1.71227981e-02 1.31926577e-01 1.39373649e+04]
[8.00415242e-03 1.44374924e-01 2.49000696e+04]
[7.91109519e-03 1.60537932e-01 3.98499710e+03]
[1.28269392e-02 1.17456095e-01 5.27363484e+03]
[1.16660292e-02 1.25792367e-01 1.31941821e+04]
[1.28065872e-02 1.01370927e-01 3.30220293e+03]
[4.35794645e-02 1.01735959e+00 2.23356693e+04]
[1.20969080e-02 1.01097829e-01 1.06861963e+04]
[5.37017297e-09 2.60656880e+01 1.08448341e+04]
[1.15725347e-02 1.24193173e-01 3.08594540e+04]
[9.45865691e-02 1.25651025e-02 1.37724226e+03]
[0.07940634 0.56264128 2.64809582]
[1.15072544e-02 1.36297300e-01 4.52748371e+04]
[4.63646313e-03 1.84978327e-01 1.87268754e+04]
[2.56353174e-03 1.90947342e-01 9.45259673e+03]
[3.22938009e-02 4.83055785e+00 3.45672540e+01]
[1.21315232e-02 8.67635605e-02 6.92119447e+03]
[5.75473990e-02 1.37191834e+01 2.48808904e-04]
[1.24318243e-02 1.42287443e-01 2.02825945e+04]
[9.23817068e-02 1.26187678e-02 1.66263915e+03]
[8.54501187e-03 1.36319256e-01 3.26961033e+04]
[1.28120087e-02 1.60536121e-01 9.71226129e+04]
[8.45724895e-03 1.50032397e-01 5.67019230e+03]
[2.32741232e-03 1.94681220e-01 7.80702527e+02]
[2.05443948e-03 2.28487009e-01 1.31796178e+02]
[1.14462073e-02 1.20510750e-01 2.55271920e+04]
[8.03649988e-03 1.23335005e-01 1.74265055e+04]
[4.66549953e-03 1.72499410e-01 8.41391496e+03]
[1.28057182e-02 1.20768222e-01 1.76093765e+04]
[3.79905714e-03 1.97589144e-01 2.07293193e+03]

In [ ]:
monthly_final_prediction_df.sum(axis=1)

0    10065.541882
1     8916.678214
dtype: float64

In [ ]:
monthly_final_prediction_df.to_csv('monthly.csv')

In [ ]:
weekly_final_prediction_df.to_csv('weekly.csv')

In [ ]:
final_prediction_df.to_csv('daily.csv')